<div id="panel_r">
  <form class="form-horizontal">
    <fieldset>
      <legend>Add Movie</legend>

      <div class="form-group">
        <label class="col-lg-2 control-label">Movie Title</label>
        <div class="col-lg-10">
          <input type="text" class="form-control"  placeholder="Movie Name">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">TV Channel</label>
        <div class="col-lg-10">
          <input type="text" class="form-control"  placeholder="Channel Name">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Started year</label>
        <div class="col-lg-10">
          <input type="text" class="form-control"  placeholder="Year">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Show Time</label>
        <div class="col-lg-10">
          <input type="text" class="form-control"  placeholder="Time">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Status</label>
        <div class="col-lg-10">
          <select class="form-control" >
            <option>Ongoing</option>
            <option>Ended</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Image Path</label>
        <div class="col-lg-10">
          <input type="text" class="form-control"  placeholder="Past the online hosted url image">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Rating</label>
        <div class="col-lg-10">
          <input type="number" class="form-control"  placeholder="Starts from 0.0">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Category</label>
        <div class="col-lg-10">
          <select class="form-control" >
            <option>Love</option>
            <option>Action</option>
            <option>Horror</option>
            <option>Cultural</option>
            <option>Adults</option>
            <option>Children</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Overview</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3"></textarea>
          <span class="help-block">Discription - 250 Words</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">trailerURL</label>
        <div class="col-lg-10">
          <input type="text" class="form-control"  placeholder="Youtube URL">
        </div>
      </div>


      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      
    </fieldset>
  </form>
</div>
