<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Manage Casts for the Dramas</h4>
                    <p class="category">Add cast by auto selection</p>
                </div>
                <div class="card-content">
                    <div id="typography">
                        <div class="title">
                            <h2>Add Castes </h2>
                        </div>
                       <div class="card-content">
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Select Daram</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Publisher</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label"> Drama Name</label>
                                    <input type="email" class="form-control" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Cast Fullname</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Case Role</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label"> Twitter Profile</label>
                                    <input type="email" class="form-control" >
                                </div>
                            </div>
                        </div>

                        

                        <button type="submit" class="btn btn-danger pull-right">Add Cast</button>
                        <div class="clearfix"></div>
                    </form>
                </div> 
                <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Dramas with Casts</h4>
                        <p class="category">All dramas related to your authorization</p>
                    </div>
                    <div class="card-content table-responsive">
                        <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label"> Search By Drama Name</label>
                                    <input type="email" class="form-control" >
                                </div>
                            </div>
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Drama Name</th>
                                    <th>Pyblished Date</th>
                                    <th>Drama category</th>
                                    <th>Cast Name</th>
                                    <th>Cast Role</th>
                                    <th>Twitter Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>New Drama</td>
                                    <td>2016/12/02</td>
                                    <td>Love Story</td>
                                    <td>Delushaan</td>
                                    <td>Hero</td>
                                    <td class="text-success">@delushaan.twit</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Rushan</td>
                                    <td>name</td>
                                    <td class="text-success">@name.sad</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
