<nav class="navbar navbar-default navbar-fixed-top homehead" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/"><img src="../assets/cedb.png" class="logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-top: 35px;">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="#">Upcoming Dramas</a></li>
            <li routerLinkActive="active"><a routerLink="#">Popular Dramas</a></li>
            <li class="dropdown" *ngIf="cnames">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">TV Channels <b class="caret"></b></a>
                <ul class="dropdown-menu" >
                    <li *ngFor="let c of cnames"><a routerLink="/channel/{{c.name}}">{{c.name}}</a></li>                
                </ul>
            </li>
			<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catagories <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="catagory/Action">Action</a></li>
                    <li><a routerLink="catagory/Romance">Romance</a></li>
                    <li><a routerLink="catagory/History">History</a></li>                  
                </ul>
            </li>
        </ul>
        <div class="col-sm-3 col-md-3">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!authService.loggedIn()" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}"><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="#">LogOut</a></li>
        </ul>        
    </div>
  </div>
</nav>


<div class="container app-container homebody">
    <br>
      <flash-messages></flash-messages>
      <router-outlet></router-outlet>
 </div>   
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>UCSC<span>29</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">UCSC GROUP 29 &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>No: 35 Reid Avenue </span>Colombo 7, Sri Lanka.</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+94 755 555</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="">group29@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					ucsc 3rd year group project for Sri lanka teledrama industry providing platform for viwers and tv channels
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>

