<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">All Drama</h4>
                        <p class="category">All dramas related to your authorization</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Drama Name</th>
                                    <th>Pyblished Date</th>
                                    <th>Drama category</th>
                                    <th>Subscriobe E-Mail</th>
                                    <th>No Subscriobe</th>
                                    <th>Current Rating</th>
                                    <th>Current Ranking</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>New Drama</td>
                                    <td>2016/12/02</td>
                                    <td>Love Story</td>
                                    <td>delushaan@gmail.com</td>
                                    <td class="text-success">50</td>
                                    <td class="text-danger">8.7</td>
                                    <td class="text-info">$36,738</td>
                                </tr>
                                <tr>
                                    <td>New Drama</td>
                                    <td>2016/12/02</td>
                                    <td>Love Story</td>
                                    <td>delushaan@gmail.com</td>
                                    <td class="text-success">50</td>
                                    <td class="text-danger">8.7</td>
                                    <td class="text-info">$36,738</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
