<div class="row dramaHead" *ngIf="movie" style="margin: 0;">
  <div class="col-md-4">
    <img src="assets/img/{{movie.imagePath}}" alt="" class="thumbnail Mimage" style="margin-top: 10px"> 
  </div>

  <div class="col-md-6">
    <h2>{{movie.movieTitle}}
      <small class="label label-warning">
        {{movie.rating}}
        <i class="glyphicon glyphicon-star"></i>
      </small>
    </h2>
    <p>{{movie.startedYear}}</p>
    <p>
      <a *ngFor="let genre of movie.catagory" class="label label-info m-r-md">
        {{genre}}
      </a>
    </p>
    <p>Sesons {{movie.numberOfSeasons}} | Episodes {{movie.numberOfEpisodes}} | {{movie.status}} </p>
    <h3>Overview</h3>
    <p style="height: 120px">
      {{movie.overview}}
    </p>
    <star-rating-comp   [starType]="'svg'"
                        [rating]= r
                        [size]="'medium'"
                        [hoverEnabled]="true"
                        [numOfStars]="10"
                        (onClick)="onClick($event)" 
                        (onRatingChange)="onRatingChange($event)"
                        (onHoverRatingChange)="onHoverRatingChange($event)" style="float: left">                             
    </star-rating-comp>
    <span style="width: 20px;">Rate: {{onclickrate}}</span>

    <!--{{onHoverRatingChangeResult | json}}-->
    <!--<p>onClickResult: {{onClickResult | json}}</p>
    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>-->

    <button class="btn btn-info">Add to Watch List</button>
  </div>

  <div *ngIf="channel" class="col-md-2" style="align-content: center">
    <!--<p>{{movie.tvChannel}}</p>-->
    <img src="assets/img/{{channel.logoUrl}}" alt="" style="width: 70px; height: 70px"> 
    <p>Everyday {{movie.showTime}} </p>
    <a routerLink="/channel/{{channel.name}}" >Visit Channel</a>

    <div style="margin-top: 100px;" id="middle">
      <button (click)="getepisode()" onClick="document.getElementById('middle').scrollIntoView()" class="btn btn-info navbtn">Episodes<img src="assets/img/down.png" alt="" style="width: 30px; height: 30px;float: right"> </button>
      <button (click)="getactor()" onClick="document.getElementById('middle').scrollIntoView()" class="btn btn-info navbtn">Cast & Crew <img src="assets/img/down.png" alt="" style="width: 30px; height: 30px;float: right"></button>
      <button (click)="getreview()" onClick="document.getElementById('middle').scrollIntoView()" class="btn btn-info navbtn">Reviews <img src="assets/img/down.png" alt="" style="width: 30px; height: 30px;float: right"></button>
    </div>
  </div>
  
</div>

<div class="row" *ngIf="review==true">
  <div class="col-md-6">
    <!--Trailer-->
    <div>
        <h2>Trailer</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="url"></iframe>
        </div>
    </div>
    <!--Trailer-->

    
  </div>

  <div class="col-md-6" >
    <div>
      <h2>Reviews</h2>
      <div *ngFor="let review of com">
        <blockquote>
          <p class="text-justify">{{review.text}}</p>
          <footer><cite title="{{review.author}}"><a href="{{review.url}}" target="_blank">{{review.postedBy}}</a><br>{{review.date}}</cite></footer>
        </blockquote>
      </div>
      <flash-messages></flash-messages>
      <form (submit) = "addReview()">
        <div class="form-group">
          <textarea class="form-control" [(ngModel)] = "comment" name="comment"> Add your review</textarea>
        </div>
        <button type="submit" class="btn btn-default">Add</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="epi==true">
    <h3>Episodes</h3>
    <div *ngFor="let i of s" style="display: inline">
    <a (click)="change(i)">Season {{i}}</a> |
    </div>
    <app-episode-list [snumber]="season" [episode]="movie.episode"></app-episode-list>
</div>

<div *ngIf="actor==true">
    <app-actor-list [actors]="movie.crew"></app-actor-list>
</div>

