<div class="row is-flex" style="padding-top: 20px;">
  <div class="col-md-2" *ngFor="let epi of filterepisode">
      <img src="assets/img/{{epi.episodeImagePath}}"style="width: 170px; height: 150px; ">
      <h4 style="color: #00284d">{{epi.episodeTitle}}</h4>
      <!--<p>{{epi.episodeOverview}}</p>-->
      <button class="btn btn-default" (click)= "ClickButton(epi.episodeURL)">Watch Now</button>
  </div>
</div>

<popup>
  <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" [src]="url"></iframe>
  </div>
</popup>