<div class="row" *ngIf = "actor" style="background-color: black; margin: 0">
  <div class="col-md-3">
    <img src="assets/img/{{actor.imagePath}}" alt="" class="thumbnail Mimage" style="margin-top: 10px;width: 250px; height:280px "> 
  </div>

  <div class="col-md-9">
    <h2>{{actor.name}}</h2>
    <div *ngFor="let r of actor.roles" style="display: inline">
      {{r}} |
    </div>
    <h3>Biography</h3>
    <div *ngFor="let r of actor.biography">
      Birthday: {{r.dob}}
      <p>{{r.description}}<p>
    </div>
  </div>
  
</div>

<div class="row" *ngIf = "actor">
  <div class="col-md-8">
    <h3 class="orange-text" style="color: #00284d">Filomography</h3>
    <table class="table table-striped" style="color: #00284d">
    <thead>
      <tr>
        <th>Drama</th>
        <th>Role</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of actor.Filmograpghy">
        <td>Drama</td>
        <td>{{r.Role}}</td>
        <td>{{r.Year}}</td>
      </tr>
    </tbody>
  </table>
  </div>
    
  <div class="col-md-4" *ngIf = "actor">
    <h3 style="color: #00284d">Awards</h3>
    <table class="table table-striped" style="color: #00284d">
    <thead>
      <tr>
        <th>Award</th>
        <th>Year</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of actor.Awards">
        <td>{{a.awardName}}</td>
        <td>{{a.year}}</td>
        <td>{{a.description}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<!--<div class="row">
  <div class="col-md-12">
      <h3>Photo Gallery</h3>
  </div>
</div>-->
