<div class="row" *ngIf="movie">
  <div class="col-md-6">
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="thumbnail Mimage">
    
  </div>


  <div class="col-md-6">
    <h2>{{movie.title}}
      <small class="label label-warning">
        {{movie.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
      </small>
    </h2>
    <p>{{movie.tagline}}</p>
    <p>
      <a routerLink="/genres/{{genre.id}}/{{genre.name}}" *ngFor="let genre of movie.genres" class="label label-info m-r-md">
        {{genre.name}}
      </a>
    </p>
    <h3>Overview</h3>
    <p>
      {{movie.overview}}
    </p>
    <button>Visit Channel</button>
    <button>Rate</button>
    <button>Add to Watch List</button>
    <button>Add Review</button>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <!--Trailer-->
    <div *ngIf="video">
        <h2>{{video.name}}</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="video.url"></iframe>
        </div>
    </div>
    <!--Trailer-->

    <!--Casts-->
    <div *ngIf="cast && cast.length > 0">
      <h3>Cast & Crew</h3>
        <table class="table-hover">
          <tr *ngFor="let actor of cast">
            <th><a routerLink="/actor/{{actor.id}}">{{actor.name}}</a></th>
          </tr>
        </table>
    </div>
    <!--Casts-->

    <!--Casts-->
    <div *ngIf="cast && cast.length > 0">
      <h3>Episodes</h3>
        <table class="table-hover">
          <tr>
            <th><img src="" style="width: 50px; height: 60px;"></th>
            <th>Episode 1</th>
          </tr>
          <tr>
            <th><img src="" style="width: 50px; height: 60px;"></th>
            <th>Episode 2</th>
          </tr>
          <tr>
            <th><img src="" style="width: 50px; height: 60px;"></th>
            <th>Episode 3</th>
          </tr>
        </table>
    </div>
    <!--Casts-->
  </div>


  <div class="col-md-6">
    <div *ngIf="reviews && reviews.length > 0">
      <h2>Reviews</h2>
      <div *ngFor="let review of reviews">
        <blockquote>
          <p class="text-justify">{{review.content}}</p>
          <footer><cite title="{{review.author}}"><a href="{{review.url}}" target="_blank">{{review.author}}</a></cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>



<!--Similar Movies
<div class="row is-flex" *ngIf="similarMovies && similarMovies.length > 0">
  <div class="col-md-12">
    <h2>Similar Movies</h2>
  </div>
  <div class="col-md-2" *ngFor="let movie of similarMovies">
    <movie-card [movie]="movie"></movie-card>
  </div>
</div>
Similar Movies-->

